<div>
  <div><a routerLink="/call-list" class="btn btn-sm btn-secondary">Back</a></div>
  <table class="table" *ngIf="call">
    <tr>
      <td>Name</td>
      <td>{{ call.name }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ call.email }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ call.callTime | date }}</td>
    </tr>
    <tr>
      <td>Problem</td>
      <td>{{ call.problem }}</td>
    </tr>
    <tr>
      <td colspan="2"><button class="btn btn-success" (click)="answer()">Marked Answered</button></td>
    </tr>
  </table>
</div>